footer {
  height: 200px;
  background-color: #007bff;
  margin-top: -8px;
  color: #fff;
  vertical-align: middle;
  padding-top: 45px;
  font-weight: 700;
  font-size: 18px;
}

footer a {
  color: #efefef;
}

footer a:hover {
  color: #fff;
  text-decoration: none;
}