<header>

  <section id="header-nav" class="header">
    <div class="container">
      <nav class="navbar navbar-expand-lg navbar-dark">
        <!-- Logo -->
        <a class="navbar-brand" href="#"><img src="../../../assets/images/logo.png" class="img-fluid" alt="Projeto fullstack" /></a>

        <!-- Hamburguer -->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <!-- Menu -->
        <div class="collapse navbar-collapse justify-content-between" id="navbarNavAltMarkup">
          <div class="navbar-nav">
            <a class="nav-item nav-link active" href="#">Home <span class="sr-only">(current)</span></a>
            <a class="nav-item nav-link" href="#">React</a>
            <a class="nav-item nav-link" href="#">Angular</a>
            <a class="nav-item nav-link" href="#">Net Core</a>
            <a class="nav-item nav-link" href="#">Contato</a>
          </div>
        </div>
      </nav>
    </div>
  </section>

  <section id="header-title" class="title">
    <div class="container">
      <div class="row">
        <div class="col-12 col-md-8 text-white">
          <h1 class="text-left">ReactJS, Next.js, Angular, Net Core, DDD, CQRS, Mediator, Bootstrap, API Rest, MongoDB, SQL
            Server, Teste Integrado com Selenium, Teste de Unidade com XUnit, Service Bus, Kafka</h1>
          <p class="lead ">Bem vindo ao projeto fullstack, blog voltado para programadores sem frescura</p>
        </div>
        <div class="col-12 col-md-4 text-center avatar-img">
          <img src="../../../assets/images/avatar.png" alt="Fernando José" class="img-fluid" />
          <p class="autor">Arquiteto | Fernando José | FullStack</p>
        </div>
      </div>
    </div>
  </section>
</header>